<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ethnicity, Religion and Gender Predictor for Indian names</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Ethnicity, Religion and Gender Predictor for Indian names</h1>
  <form class="form-horizontal" method="post">
  <fieldset>

  <!-- Form Name -->
  <legend>Try it out for a demo!</legend>

  <!-- Textarea -->
  <div class="control-group">
    <label class="control-label" for="headline">Name</label>
    <div class="controls">                     
      <input id="name" name="name" type="text" style="width: 400px">
    </div>
  </div>

  <!-- Button -->
  <div class="control-group">
    <label class="control-label" for="submit">Submit</label>
    <div class="controls">
      <button id="submit" name="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  </fieldset>
  </form>
  </div>

</body>
</html>